<a href="https://colab.research.google.com/github/mariavirna/Pi3/blob/main/tratamento_PI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import seaborn as se

In [ ]:
import statistics as st

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
agendamento = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/agendamento2.csv")

In [ ]:
agendamento.head(100)

,Nome,E-mail,Telefone,Curso,Módulo,N° Computador,Data,Mês,Ano,Hora
0,Vinícius,vinicius23@email.com,81987123409,Administração,3,17.0,17,Março,2024,07:05
1,Patrícia,patricia48@email.com,81985432167,Logística,2,3.0,3,Julho,2025,07:20
2,Lucas,lucas05@email.com,81984769012,Redes de Computadores,3,28.0,28,Janeiro,2024,07:15
3,Bianca,bianca67@email.com,81986547321,Administração,1,12.0,12,Setembro,2024,07:40
4,Thiago,thiago12@email.com,81988901287,Logística,1,41.0,31,Dezembro,2025,08:00
...,...,...,...,...,...,...,...,...,...,...
95,Beatriz Costa,beatriz.costa@email.com,81983334455,Logística,2,30.0,30,Janeiro,2025,18:48
96,Rafael Santos,rafael.santos@email.com,81984445566,Administração,3,16.0,16,Maio,2024,13:48
97,Fernanda Lima,fernanda.lima@email.com,81985556677,Redes de Computadores,1,5.0,5,Dezembro,2025,12:26
98,Pedro Gomes,pedro.gomes@email.com,81986667788,Logística,2,10.0,10,Março,2024,14:30
99,Juliana Rocha,juliana.rocha@email.com,81987778899,Administração,3,13.0,13,Julho,2025,16:55

In [ ]:
agendamento.isnull().sum()

Nome             0
E-mail           0
Telefone         0
Curso            0
Módulo           0
N° Computador    3
Data             0
Mês              0
Ano              0
Hora             0
dtype: int64

In [ ]:
agendamento['N° Computador'].describe()

count    98.000000
mean     19.612245
std      12.174532
min       1.000000
25%       9.000000
50%      18.500000
75%      30.000000
max      42.000000
Name: N° Computador, dtype: float64

In [ ]:
mediana = st.median(agendamento['N° Computador'])
mediana

19.0

In [ ]:
agendamento['N° Computador'].fillna(mediana, inplace=True)

/tmp/ipython-input-10-4004687940.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  agendamento['N° Computador'].fillna(mediana, inplace=True)

In [ ]:
agendamento.isnull().sum()

Nome             0
E-mail           0
Telefone         0
Curso            0
Módulo           0
N° Computador    0
Data             0
Mês              0
Ano              0
Hora             0
dtype: int64

In [ ]:
agendamento.loc[agendamento.duplicated(['Telefone'], keep=False)]

,Nome,E-mail,Telefone,Curso,Módulo,N° Computador,Data,Mês,Ano,Hora
10,Eduarda,eduarda29@email.com,81985678901,Logística,3,40.0,14,Maio,2025,09:40
100,Eduarda,eduarda29@email.com,81985678901,Logística,3,40.0,14,Maio,2025,09:40

In [ ]:
agendamento.drop_duplicates(subset='Telefone', keep='first', inplace=True)

In [ ]:
agendamento.loc[agendamento.duplicated(['Telefone'], keep=False)]

Empty DataFrame
Columns: [Nome, E-mail, Telefone, Curso, Módulo, N° Computador, Data, Mês, Ano, Hora]
Index: []

In [ ]:
Módulo = agendamento.groupby(['Módulo']).size()
Módulo

Módulo
1       28
2       33
3       38
três     1
dtype: int64

In [ ]:
agendamento.loc[agendamento['Módulo'].isin(['três']), 'Módulo'] = '3'

Módulo = agendamento.groupby(['Módulo']).size()
Módulo

Módulo
1    28
2    33
3    39
dtype: int64

In [ ]:
Curso = agendamento.groupby(['Curso']).size()
Curso

Curso
1495                      2
Administração            35
Engenharia Civil          1
Logística                30
Medicina                  1
Redes de Computadores    31
dtype: int64

In [ ]:
moda = agendamento['Curso'].mode()

print(moda)

0    Administração
Name: Curso, dtype: object

In [ ]:
agendamento.loc[agendamento['Curso'] .isin(['Medicina',
'Engenharia Civil', '1495']),'Curso'] = 'Administração'

Curso = agendamento.groupby(['Curso']).size()
Curso

Curso
Administração            39
Logística                30
Redes de Computadores    31
dtype: int64

In [ ]:
agendamento.shape

(100, 10)

In [ ]:
agendamento.head(100)

,Nome,E-mail,Telefone,Curso,Módulo,N° Computador,Data,Mês,Ano,Hora
0,Vinícius,vinicius23@email.com,81987123409,Administração,3,17.0,17,Março,2024,07:05
1,Patrícia,patricia48@email.com,81985432167,Logística,2,3.0,3,Julho,2025,07:20
2,Lucas,lucas05@email.com,81984769012,Redes de Computadores,3,28.0,28,Janeiro,2024,07:15
3,Bianca,bianca67@email.com,81986547321,Administração,1,12.0,12,Setembro,2024,07:40
4,Thiago,thiago12@email.com,81988901287,Logística,1,41.0,31,Dezembro,2025,08:00
...,...,...,...,...,...,...,...,...,...,...
95,Beatriz Costa,beatriz.costa@email.com,81983334455,Logística,2,30.0,30,Janeiro,2025,18:48
96,Rafael Santos,rafael.santos@email.com,81984445566,Administração,3,16.0,16,Maio,2024,13:48
97,Fernanda Lima,fernanda.lima@email.com,81985556677,Redes de Computadores,1,5.0,5,Dezembro,2025,12:26
98,Pedro Gomes,pedro.gomes@email.com,81986667788,Logística,2,10.0,10,Março,2024,14:30
99,Juliana Rocha,juliana.rocha@email.com,81987778899,Administração,3,13.0,13,Julho,2025,16:55